.button--flex{
  
    /* flex-direction: column; */
    gap: .5rem;
    color: white;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem ;
    column-gap: 2rem;
    align-items: center;
}

.home__img {
    background: url(../../assets/main.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    box-shadow: inset 0 0 0 9px rgba(225, 225, 225 / 30%);
    order: 1;
    justify-self: center;
    background-size: cover;
}